.scroll{
    max-height: 300px;
    overflow-y: auto;
}

header{
    margin-bottom: 7rem;
}

.carousel-inner{
    overflow: hidden;
}

.carousel-inner img{
    transition: all 1.5s ease;
}

.carousel-inner:hover img{
    transform: scale(1.2);
}